.img {
    width: 105px;
    margin-left: 70px;
    padding-top: 9px;
}


.header-container {
    display: flex;
    justify-content: left;
    height: 50px;
    top:0%;
    left: 0%;
    right: 0%;
    background-color: #d6d6d6;
    background-image: url('https://miro.medium.com/v2/resize:fit:750/format:webp/1*Eszxv0tpHzsfq4rnQlOEEQ.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
}


.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    text-wrap: nowrap;
}

.nav-items ul li:hover{
    cursor: pointer;
}

li.text {
    padding: 1px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}

.cart-icon{
    width: 30px;
    max-width: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.cart-icon:hover{
    cursor: pointer;
}


.onlineStatus {
    margin-top: 12.5px;
    margin-bottom: 5px;
    margin-left: 1000px;
}

.fixed {
    height: 50px;
}
.login {
    margin-left: 20px;
    margin-bottom: 9px;
    margin-top: 12px;
    background-color: #fc4c84;
    font-size: medium;
    border: none;
    border-radius: 4px;
    padding: 3px;
    width: 80px;
    cursor: pointer;
    color: #ffffff;
}

hr {
    background-color: #cfd1d0;
}


.offer-image{
    height: 400px;
    width: 800px;
    margin-top: 50px;
    margin-left: 345px;
}

.myApp-container p {
    border-bottom: 1px solid #ccc6c6;
    border-width: 100%;
   
}

.shop-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
    padding: 0px 127px;
    padding-top: 20px;
    max-width: 100% !important;
}

.shopCard-image {
    width: 180px;
    height: 150px;
    display: block;
}

.shopCard-image:hover {
    cursor: pointer;
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    transition: box-shadow .3s ;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 9px #242526;
}

.all-products-title {
    font-weight: bold;
    padding-top: 75px;
    text-align: center;
    text-decoration: none;
}

.products-filter {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 110px;
    width: 100%;
}

.filters-container {
    width: 300px;
    margin-top: 35px;
    max-height: 600px;
}

.product-card-container {
    border: 1px solid #d6d6d6;
    margin-top: 35px;
    height: 400px;
    width: 280px;
    text-decoration: none;
}

.product-card-container:hover {
    cursor: pointer;

}

.product-image {
    height: 150px;
    width: 200px;
    padding-left: 42px;
    padding-top: 56px;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
}

.product-title {
    font-weight: bold;
}

.padding-top40 {
    padding-top: 40px;
}
.margin-bt-10 {
    margin-top: 30px;
}

.add-to-bag {
    margin-top: 35px;
    padding: 10px;
    background-color: #fc4c84;
    border-style: none;
    min-width: 280px;
    cursor: pointer;
    font-size: medium;
    color: #ffffff;
}

.img-title-container {
    height: 240px;
}

.sort{
    height: 900px;
    width: 300px;
}

.filter-categories {
    background-color: #f3eeee;
    height: 100%;
    width: 300px;
    margin-top: 30px;
}

.top-rated {
    margin-left: 110px;
    padding: 10px;
    border: none;
    background-color: #fc4c84;
    cursor: pointer;
    border-radius: 6px;
    font-size: medium;
    color: #ffffff;
}

.top-rated:hover{
    opacity: 0.9;
}

.add-to-bag:hover {
    opacity: 0.9;
}

.bestsellers {
    padding-left: 280px;
    padding-top: 60px;
    height: 200px;
}

.close-btn {
    width: 20px;
    margin-left: 275px;
    margin-top: 5px;
    position: absolute;
    display: inline-block;
}


.login:hover{
    opacity: 0.9;
}

.search {
   margin-left: 728px;
   padding: 10px;
   width: 220px;
   border: 1px solid #9e9d9d;
}

.search-btn {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: #fc4c84;
    cursor: pointer;
    border-radius: 6px;
    font-size: medium;
    color: #ffffff;
}

.search-btn:hover {
    opacity: 0.9;
}

.sort-title{
    padding: 5px;
    font-weight: bold;
    display: inline-block;
}

.sort-2 {
    margin-top: 13px;
    margin-left: 16px;
    padding: 4px;
    height: 24px;
}

.sort-1 {
    margin-left: 16px;
    padding: 3px;
    height: 24px;
    margin-top: 2px;
}

.lowToHigh-btn {
    float: right;
    border: 2px solid #fc4c84;
    height: 16px;
    width: 20px;
    accent-color: #fc4c84;
    margin-bottom: 4px;
}

.highToLow-btn{
    float: right;
    border: 2px solid #fc4c84;
    height: 16px;
    width: 20px;
    accent-color: #fc4c84;
    margin-bottom: 3px;
}

.filter-title {
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
}
.description-container {
    display: flex;
}


.product-img{
    margin-top: 50px;
    margin-left: 250px;
    height: 550px;
    border: 1px solid #ccc6c6;
    width: 420px;

}

.product-img img{
    height: 300px;
    padding-left: 60px;
    margin-top: 40px;
}

.product-description {
    margin-top: 50px;
    height: 550px;
    border: 1px solid #ccc6c6;
    width: 600px;
}

.productName {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 17px;
    font-weight: bold;
    display: block;
}

.productInfo span{
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}
.productInfo b {
    display: inline;
    color: #545454;
}

.bestseller {
    height: 10px;
}

.bestSellerLabel {
    color: white;
    background-color: #242526;
    padding: 6px;
    border-radius: 5px;
    font-size: small;
}

.addToBag {
    margin-top: 70px;
    padding: 10px;
    margin-left: 40%;
    background-color: #fc4c84;
    border-style: none;
    width: 140px;
    height: 40px;
    cursor: pointer;
    font-size: medium;
    color: #ffffff;
}

.addToBag:hover {
    opacity: 0.9;
}

.empty-message {
    text-align: center;
    margin-top: 200px;
    display: block;
}

.cart-container {
    justify-content: center;
    border: 1px solid #efe8e8;
    border-radius: 6px;
    margin: 60px;
    padding-bottom: 70px;
}

.cart-count {
    color: white;
    background-color: red;
    border-radius: 12px;
    width: 17px;
    height: 15px;
    top: 0;
    right: 0;
    font-size: 10px;
    margin-top: 7px;
    font-weight: bold;
    text-align: center;
    font-size: small;
    padding: 2px;
}

.your-cart {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cart-layout{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 550px;
    height: 120px;
    margin-left: 430px;
    border: 1px solid #efe8e8;
    border-radius: 6px;
    margin-bottom: 20px;
    gap: 10px;
}

.cart-column2 {
    width: 300px;
    height: 110px;
    margin-top: 12px;
}

.cart-column1 {
    width: 170px;
    height: 110px;
}

.cart-img {
    width: 100px;
    margin-left: 25px;
    margin-top: 10px;
}

.cart-product-name {
    font-weight: bold;
    padding: 6px;
    display: block;
}

.cart-product-quantity {
    color: rgb(101, 100, 100);
    margin-top: 3px;
    display: block;
    margin-left: 10px;
}

.cart-hr {
    width: 22%;
}

.cart-product-price{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #666565;
}

.delete-icon-cart {
    width: 60px;
    margin-top: 12px;
    border: none;
}


.flex-prop {
    display: flex;
}

.clear-cart {
    float: right;
    margin-right: 415px;
    margin-top: 10px;
    padding: 8px;
    background-color: #fc4c84;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: medium;
    position: relative;
}

.clear-cart:hover {
    opacity: 0.9;
    cursor: pointer;
}

.sale-img {
    height: 90%;
    width: 22%;
    margin-top: 30px;
    margin-right: 20px;
}

.shop-by-brands{
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
}

.no-products {
    margin-top: 200px;
    margin-left: 350px;
}

.dynamicBrands{
    
    margin-left: 150px;
    border: 2px solid #fc4c84;
    height: 16px;
    width: 20px;
    accent-color: #fc4c84;
    
}

.brand-label {
    width: 100px;
    display: inline-block;
}

.brandFilters {
    margin-top: 20px;
    margin-left: 23px;
}

.menu-icon {
    display: none;
}

.footer-container {
    background-color: #edf0ee;
    height: 300px;
    margin-top: 350px;
    left: 0;
    right: 0;
    display: flex;

}

.navItems {
    display: none;
}

/* @media screen and (min-width:300px) {
    .onlineStatus {
        margin-left: 10px;
    }
} */

@media screen and (min-width:810px)
and (max-width: 1000px)
{
    .onlineStatus {
        margin-left: 310px;
    }

    .bestsellers {
        padding: 10px;
        width: 700px;
        margin-left: 40px;
    }

    .shopCard-image {
        width: 120px;
        height: 110px;
    }

    .shop-card {
        gap: 10px;
        padding: 20px;
        margin-left: 60px;
    }

    .all-products-title {
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .top-rated {
        margin-left: 80px;
    }

    .filters-container {
        top: 800px;
        margin-right: 40px;
        bottom: 0;
        position:absolute;
        background-color: transparent;
    }

    .search {
        margin-left: 130px;
    }

    .products {
        margin-left: 350px;
    }

    .product-card-container {
        border: 1px solid #d6d6d6;
        margin-top: 35px;
        height: 400px;
        width: 280px;
        text-decoration: none;
    }

    .header-container {
        z-index: 1;
    }

    .product-img{
        margin-top: 240px;
        margin-left: 15px;
        height: 550px;
        border: 1px solid #ccc6c6;
        width: 300px;
    }

    .product-img img{
        height: 250px;
        padding-left: 7px;
        margin-top: 100px;
    }

    .product-description {
        margin-top: 240px;
        height: 550px;
        border: 1px solid #ccc6c6;
        width: 500px;
        margin-right: 15px;
    }

    .addToBag {
        margin-top: 40px;
    }

    .cart-layout{
        margin-left: 50px;
    }

    .clear-cart {
        float: right;
        margin-right: 82px;
        margin-top: 10px;
        padding: 8px;
        background-color: #fc4c84;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: medium;
    }

    .navItems {
        display: none;
    }
}

@media screen and (min-device-width:400px) 
and (max-device-width:790px)
 {
    .img {
        width: 250px;
        margin-left: 15px;
        padding-top: 33px;
    }

    .nav-items {
        display: none;
    }

    .onlineStatus {
        display: none;
    }

    .login {
        margin-left: 450px;
        font-size: 45px;
        height: 80px;
        width: 150px;
        border-radius: 10px;
        margin-top: 30px;
    }

    .cart-icon{
        max-width: 100px;
        margin-left: 50px;
        width: 100px;
        height: 110px;
        margin-top: 15px;
    }

    .menu-icon {
        display: block;
        margin: 35px 50px;
        font-size: 60px;
    }

    .navItems {
        margin-top: 100px;
        font-size: 50px;
        display: inline-block;
        height: 450px;
        padding-left: 480px;
        padding-right: 720px;
        padding-top: 2px;
        text-wrap: nowrap;
        text-align: center;
        background-color: #fc4c84;
        position: relative;
    }

    .navItems ul  {
        list-style-type: none;
        color: white;
        width: fit-content;
        background-color: #fc4c84;
        position: relative;
    }

    .navItems ul li hr {
        border-width:0;
        width: 100%;
        color:gray;
        background-color:gray
    }

    /* .navItems ul li {
        height: 100px;
    } */

    .header-container {
        height: 150px;
        z-index: 1;
    }

    .bestsellers {
        padding-left: 10px;
        padding-top: 100px;
        width: 1200px;
        height: 300px;
    }

    .shop-by-brands{
        font-size: x-large;
        margin-left: 100px;
        text-wrap: nowrap;
    }

    .shop-card {
        padding: 100px 60px;
        padding-top: 50px;
        width: 100%;
        
    }

    .body-container {
        position: absolute;
        overflow: hidden;
    }

    .shop-card {
        gap: 50px;
        padding: 0px 80px;
        padding-top: 20px;
    }

    .shopCard-image {
        width: 500px;
        height: 350px;
        display: block;
    }

    .search {
        margin-left: 420px;
    }


    
    

    
}
